.list {
    max-width: 700px;
    margin:20px auto auto 0px;
    padding: 0 20px
}

.list .list2 {
    max-width: 400px;
    margin: 20px auto auto 0px;
    padding: 0 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}
.list article{
    background: azure;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.list .list2 p{
    font-size: 16px;
    color: chocolate;
    margin-top: 5px;
    line-height: 8px;
}

.list a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid cadetblue;
    background: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.list a:hover{
    background: #da552f;
    color: white;
}