.list {
    max-width: 50px;
    padding: 0px 20px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list article{
    background: azure;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.list p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.list a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid cadetblue;
    background: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.list a:hover{
    background: #da552f;
    color: white;
}